<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/RedditProject/RedditTesting">
        <classes>
            <class name="RedditCreatePostPage">
                <methods>

                </methods>
            </class>
            <class name="RedditChatPage"></class>
            <class name="RedditCommunityPage"></class>
            <class name="RedditHomePage"></class>
            <class name="RedditLogin"></class>
            <class name="RedditPopularPage"></class>
            <class name="RedditProfilePage"></class>
            <class name="RedditTopicsPage"></class>
        </classes>
    </test>
</suite>